.footer__nav-contact-description {
  margin: 0 0 10px;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.8;
}
